header.header
    .container
        .row.align-items-center
            .col-3
                .inner-logo
                    a(href="/")
                    img(src="/img/logo.webp", alt="Logo")
            .col-3
                    nav.navbar.navbar-expand-lg.navbar-light.bg-light
                        .container-fluid
                            a.nav-link.active(aria-current="page" href="/") Trang chủ
                            a.nav-link(href="/products") Sản phẩm
